.delete {
  margin: 2rem;
  background-color: rgb(211, 16, 16);
  color: white;
  border-color: rgb(211, 16, 16);
}
.delete:hover {
  background-color: transparent;
  color: rgb(211, 16, 16);
}
.icon:hover {
  cursor: pointer;
}
.icon {
  margin: 0 1rem;
}
