.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 10;
}

@media (prefers-color-scheme: dark) {
  .backdrop {
    background: rgba(0, 0, 0, 0.75);
  }
}
