.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.message {
  color: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin: 0.5rem;
}
.error {
  color: rgb(227, 63, 63);
}
.btn,
.container a {
  padding: 6px 12px;
  background-color: transparent;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  border-radius: 6px;
  font-weight: 700;
}
.btn:hover,
.container a:hover {
  background-color: var(--theme-color);
  color: white;
  cursor: pointer;
}
.container {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 10px;
}
.active a {
  background-color: var(--theme-color);
  color: white;
}
