.blog h1,
.blog h3,
.blog h2 {
  text-align: center;
}
.blog {
  min-height: 80vh;
  overflow-wrap: break-word;
  margin: auto;
  border-bottom: #00000014 1px solid;
  border-block-width: 10%;
  width: 96%;
}
.message {
  color: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin: 0.5rem;
}
.error {
  color: rgb(227, 63, 63);
}
.edit {
  margin: 2rem;
  background-color: rgb(211, 208, 16);
  color: white;
  border-color: rgb(211, 208, 16);
}
.edit:hover {
  background-color: transparent;
  color: rgb(253, 250, 46);
}

.buttons {
  display: flex;
  justify-content: center;
}

.icon:hover {
  cursor: pointer;
}
