.error {
  color: #ef4444;
  font-size: 0.85rem;
  font-weight: 500;
  margin-top: 0.5rem;
  text-align: left;
  width: 80%;
}

@media screen and (max-width: 800px) {
  .error {
    width: 100%;
  }
}
