.comments {
  padding: 2%;
}
.comments h2 {
  font-style: normal;
}
.btn,
.container a {
  padding: 6px 12px;
  background-color: transparent;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  border-radius: 6px;
}
.btn:hover,
.container a:hover {
  background-color: var(--theme-color);
  color: white;
  cursor: pointer;
}
.container {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 10px;
}
.active a {
  background-color: var(--theme-color);
  color: white;
}
