.item {
  margin: 1rem auto;
  border: 2px solid #00000014;
  border-radius: 15px;
}

.user img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.user {
  display: flex;
}
.item p {
  margin: 0;
  margin-left: 3rem;
  font-size: small;
}
.span {
  font-size: small;
}
.icon:hover {
  cursor: pointer;
}
